body
{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
h1
{
    font-size: 50px;
}
.orange-color
{
    color: orange;
}
.about_me
{
    text-align: center;
}
.about_me .about_txt
{
    padding: 20%;
    display: inline;
}
dl{
    display: flex;
    text-align: center;
}
.half-width
{
    width: 50%;
    padding: 5%;
}
.half-width image
{
    width: 100%;
}
.bg-ban
{
    display: flex;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}
.bg-dev
{
    background-image: url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: left top;
}
.link-button
{
    color: white;
    font-weight: 700;
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
}
.about_spc
{
    display: flex;
    text-align: center;
}
.about_pad
{
    padding: 3%;
    margin: 20px;
    width: 20%;
    box-shadow: 10px 10px 30px 5px grey;
    border-left: blue;
}

footer p{
    text-align: center;
}